<h2><%= @shop.name %></h2>

<table>
  <thead>
    <th>Day</th>
    <th>Hours</th>
  </thead>
  <tbody>
    <% Array(0..6).rotate(Date.today.wday).each_with_index do |n, index| %>
      <tr>
        <td class="<%= 'today' if index == 0 %>" style="min-width: 100px;"><%= enum_i18n(OpeningHour, :day, OpeningHour.days.key(n)) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
