.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a.disabled {
  pointer-events: none;
  color: #ccc;
}

.footer {
  padding-top: 60px;
}

.nobull {
  list-style-type: none;
}